*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* shared-styles */
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.primary-color{
    background-color: #1a0b2e
}
.secondary-color{
    background-color: #230E3D;
}
.primary-font{
    color: white;
}
.secondary-font{
    color: #e606c0;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.para-font{
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    font-weight: 400;
}
.hidden{
    display: none;
}
/* individual-styles */
/* navbar-style */
nav{
    /* border: 1px solid red; */
    width: 100%;
    max-width: 1600px;
    height: 92px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
nav ul{
    gap: 32px;
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    transition: color 1s ease 0.1s;
}
nav li a:hover{
    color: chartreuse;
}
.brand-name{
    font-size: 2.3rem;
    font-weight: 700;
    cursor: pointer;
    animation: float 4s ease-in-out infinite;
}
.gradient-btn{
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10000px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border: none;
    cursor: pointer;
    transition: background 4s ease-in 1s;
}
.gradient-btn:hover{
    /* font-size: 1.15rem; */
    color: yellow;
    background: linear-gradient(180deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}
/* banner-section-styles */
.banner{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    height: 760px;
    background: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.banner-image{
    background: url("../assets/hero-circle.png");
    height: 350px;
    width: 350px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    cursor: pointer;
}
.banner-image:hover{
    animation: rotate 3s linear 0.3s;
}
.badge{
    padding: 8px 16px;
    color: black;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 1000px;
    background-color: #00ff88;
    position: absolute;
    top: 15%;
    right: 41%;
}
.banner-heading{
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
}
.banner-text{
    margin-bottom: 24px;
}
.btn-container{
    gap: 8px;
}
#spotify-button{
    align-items: center;
    padding: 12px 20px;
    gap: 8px;
}
#message-btn{
    border: 1px solid #00ff88;
    padding: 12px 20px;
    border-radius: 10000px;
    background: transparent;
    color: #00ff88;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    gap: 8px;
    transition: background-color 1s ease-in 0.1s;
}
#message-btn:hover{
    background-color: crimson;
    border: none;
}
/* about-section */
.about{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 50px 120px 200px 120px;
    text-align: center;
}
.about-info{
    border-bottom: 1px solid rgba(255, 255, 255, 0.689);
}
.about-info h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}
#distant-para{
    margin-top: 25px;
    margin-bottom: 80px;
}
.about-spec{
    margin-top: 80px;
    grid-template-columns: repeat(4,1fr);
    column-gap: 80px;
}
.spec-quantity{
    margin-bottom: 16px;
    color: #00ff88;
    font-size: 3rem;
    font-weight: 700;
}
/* why-choose-section */
.why-choose{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px 200px;
    text-align: center;
}
.why-choose h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}
.reason-container{
    grid-template-columns: repeat(3,380px);
    grid-template-rows: repeat(2,225px) 273px;
    gap: 30px 30px;
    text-align: left;
}
.box{
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    justify-content: center;
    align-content: center;
    padding: 40px;
}
#reason1{
    grid-row: 1 / 3;
    align-content: center;
}
#reason2{
    grid-column: 2 / 5;
}
#reason3{
    grid-column: 2 / 5;
}
#reason4{
    grid-column: 1 / 3;
}
.box>img{
    height: 60px;
    width: 60px;
    margin-bottom: 16px;
}
.box>h1{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 16px;
}
/* featured-section */
.featured{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px 200px;
    text-align: center;
}
.featured h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}
.episode-container{
    gap: 30px;
}
.episode-box{
    text-align: left;
    gap: 0;
}
.episode-box iframe{
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    width: 380px;
    height: 214px;
    
}
.episode-box .episode-text{
    padding: 24px;
    border-radius: 0px 0px 24px 24px;
    background: rgba(37, 13, 68, 1);
}
.episode-box h1{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
    max-width: 332px;
}
.timer{
    margin-top: 12px;
    gap: 5px;
    color: #00ff88;
}
/* host-section */
.host{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px 200px;
    padding-top: 0;
    text-align: center;
}
.host h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}
.host-container{
    /* border: 1px solid white; */
    padding: 40px;
    gap: 24px;
    border-radius: 40px;
    text-align: left;
    align-items: center;
}
.host-text{
    flex-direction: column;
    gap: 16px;
}
.host-title{
    font-size: 2rem;
    font-weight: 700;
}
.social{
    list-style: none;
    /* max-width: 184px;
    height: 40px; */
    gap: 8px;
}
.social .logo-box{
    border: 1px solid #533c72;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
/* footer-section */
footer{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px;
    background: url("../assets/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
}
footer h1{
    font-size: 3rem;
    font-weight: 700;
    cursor: pointer;
}
footer ul{
    /* border: 1px solid white; */
    list-style: none;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
footer ul a{
    text-decoration: none;
}

/* small-device-styles */
@media screen and (max-width:576px){
    /* navbar-styles */
    nav{
        padding: 16px 20px;
        height: 60px;
        justify-content: space-between;
    }
    nav ul li, button{
        display: none;
    }
    .hamburger{
        display: inline;
        cursor: pointer;
    }
    /* banner-section */
    .banner {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 40px 20px;
    }
    .banner-image{
        width: 200px;
        height: 200px;
        margin-bottom: 24px;
        background-size: contain;
    }
    .banner-image img {
        width: 30%;
    }
    .badge {
        font-size: 1rem;
        padding: 8px 16px;
        top: 9%;
        right: 25%;
    }
    .btn-container {
        width: 100%;
    }
    .btn-container button{
        width: 50%;
        justify-content: center;
        align-items: center;
    }
    #spotify-button,
    #message-btn{
        padding: 12px 20px;
        font-size: 1rem;
    }
    /* about-section */
    .about{
        width: 100%;
        padding: 40px 20px;
    }
    .about-info h1{
        font-size: 2rem;
    }
    #distant-para{
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .about-spec{
        width: 100%;
        margin-top: 40px;
        grid-template-columns: repeat(2,1fr);
        column-gap: 40px;
        row-gap: 40px;
    }
    .spec-quantity{
        font-size: 2.5rem;
    }
    /* why-choose-section */
    .why-choose{
        padding: 40px 20px;
    }
    .why-choose h2{
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 16px;
    }
    .reason-container{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(5,1fr);
        row-gap: 16px;
        text-align: left;
    }
    .box{
        padding: 24px;
    }
    
    .box>img{
        height: 60px;
        width: 60px;
        margin-bottom: 16px;
    }
    .box>h1{
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 16px;
    }
    #reason1,
    #reason2,
    #reason3,
    #reason4 {
        grid-column: auto;
        grid-row: auto;
    }
    /* featured-section */
    .featured{
        padding: 40px 20px;
    }
    .featured h1{
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 24px;
    }
    .episode-container{
        width: 100%;
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }
    .episode-box iframe{
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        width: 400px;
        height: 400px;
        
    }
    .episode-box .episode-text{
        max-width: 400px;
        padding: 16px;
    }
    .episode-box h1{
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 8px;
    }
    /* host-section */
    .host{
        padding: 40px 10px;
        padding-top: 0;
        text-align: center;
    }
    .host h1{
        font-size: 2rem;
        margin-bottom: 24px;
    }
    .host-container{
        padding: 24px;
        gap: 24px;
        text-align: center;
        flex-direction: column;
        gap: 16px;
    }
    .host-text{
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }
    .host-title{
        font-size: 1.5rem;
        font-weight: 700;
    }
    /* footer-section */
    footer{
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        padding: 40px 20px;
        background-size: 100%;
        background-position: center;
    }
    .footer-container{
        gap: 24px;
    }
    footer h1{
        font-size: 2.5rem;
        font-weight: 700;
    }
    footer ul{
        max-width: 255px;
        gap: 16px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

/* Medium-device-styles */
@media screen and (min-width:577px) and (max-width:992px){
    .badge{
        top:15%;
        right: 35%;
    }
    .about-spec{
        width: 100%;
        margin-top: 40px;
        grid-template-columns: repeat(2,1fr);
        column-gap: 40px;
        row-gap: 40px;
    }
    .spec-quantity{
        font-size: 2.5rem;
    }
    /* why-choose-section */
    .why-choose{
        padding: 40px 20px;
    }
    .why-choose h2{
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 16px;
    }
    .reason-container{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(5,1fr);
        row-gap: 16px;
        text-align: left;
    }
    .box{
        padding: 24px;
    }
    
    .box>img{
        height: 60px;
        width: 60px;
        margin-bottom: 16px;
    }
    .box>h1{
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 16px;
    }
    #reason1,
    #reason2,
    #reason3,
    #reason4 {
        grid-column: auto;
        grid-row: auto;
    }
    /* featured-section */
    .featured{
        padding: 40px 20px;
    }
    .featured h1{
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 24px;
    }
    .episode-container{
        width: 100%;
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }
    .episode-box iframe{
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        width: 400px;
        height: 400px;
        
    }
    .episode-box .episode-text{
        max-width: 400px;
        padding: 16px;
    }
    .episode-box h1{
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 8px;
    }
    /* host-section */
    .host{
        padding: 40px 10px;
        padding-top: 0;
        text-align: center;
    }
    .host h1{
        font-size: 2rem;
        margin-bottom: 24px;
    }
    .host-container{
        padding: 24px;
        gap: 24px;
        text-align: center;
        flex-direction: column;
        gap: 16px;
    }
    .host-text{
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }
    .host-title{
        font-size: 1.5rem;
        font-weight: 700;
    }
    /* footer-section */
    footer{
        padding: 40px 20px;
        background-size: 100%;
        background-position: center;
    }
    .footer-container{
        gap: 24px;
    }
    footer h1{
        font-size: 2.5rem;
        font-weight: 700;
    }
    footer ul{
        max-width: 255px;
        gap: 16px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

/* large-device-styles */
@media screen and (min-width:992px) and (max-width:1200px){
    .badge{
        top:15%;
        right: 35%;
    }
    .about-spec{
        width: 100%;
        margin-top: 40px;
        grid-template-columns: repeat(2,1fr);
        column-gap: 40px;
        row-gap: 40px;
    }
    .spec-quantity{
        font-size: 2.5rem;
    }
    .why-choose{
        padding: 20px;
    }
    .reason-container{
        width: 100%;
        padding: 10px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        row-gap: 16px;
    }
    #reason1,
    #reason2,#reason3,#reason4{
        grid-row: auto;
        grid-column: auto;
    }
    .episode-container{
        width: 100%;
        flex-wrap: wrap;
    }
    .episode-box .episode-text{
        max-width: 400px;
        padding: 16px;
    }
    /* host-section */
    .host{
        padding: 40px 10px;
        padding-top: 0;
        text-align: center;
    }
    .host-container{
        padding: 24px;
        gap: 24px;
        text-align: center;
        flex-direction: column;
        gap: 16px;
    }
    .host-text{
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }
    /* footer-section */
    footer{
        width: 100%;
        padding: 40px 20px;
        background-size: 100%;
        background-position: center;
    }
    .footer-container{
        gap: 24px;
    }
    footer ul{
        max-width: 255px;
        gap: 16px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

/* extra-large-device-styles */
@media screen and (min-width:1201px) and (max-width:1450px){
    .badge{
        top:15%;
        right: 40%;
    }
    .about-spec{
        width: 100%;
        margin-top: 30px;
        grid-template-columns: repeat(2,1fr);
    }
    .spec-quantity{
        font-size: 2.5rem;
    }
    .why-choose{
        padding: 0px;
    }
    .reason-container{
        width: 100%;
        padding: 10px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        row-gap: 16px;
    }
    #reason1,
    #reason2,#reason3,#reason4{
        grid-row: auto;
        grid-column: auto;
    }
    .episode-container{
        width: 100%;
        flex-wrap: wrap;
    }
    .episode-box .episode-text{
        max-width: 400px;
        padding: 16px;
    }
    /* host-section */
    .host{
        padding: 40px 10px;
        padding-top: 0;
        text-align: center;
    }
    .host-container{
        padding: 24px;
        gap: 16px;
    }
    .host-text{
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }
    /* footer-section */
    footer{
        width: 100%;
        padding: 40px 20px;
        background-size: 100%;
        background-position: center;
    }
    .footer-container{
        gap: 24px;
    }
    footer ul{
        max-width: 255px;
        gap: 30px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

/* animations */
@keyframes rotate{
    0%{
        transform: scale(1.1) rotate(90deg);
    }
    25%{
        transform: scale(0.9) rotate(180deg);
    }
    75%{
        transform: scale(1.1) rotate(270deg);
    }
    100%{
        transform: scale(0.9) rotate(360deg);
    }
}
@keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    1000%{
        transform: translateY(0);
    }
}
