*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared-styles */
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.primary-color{
    background-color: #412567;
}
.secondary-color{
    background-color: #230E3D;
}
.primary-font{
    color: white;
}
.secondary-font{
    color: #e606c0;
}
.hidden{
    display: none;
}

/* individual-styles */
/* navbar-style */
nav{
    /* border: 1px solid red; */
    width: 100%;
    max-width: 1600px;
    height: 92px;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    gap: 32px;
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}
.brand-name{
    font-size: 2.3rem;
    font-weight: 700;
    cursor: pointer;
}
.gradient-btn{
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10000px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border: none;
    cursor: pointer;
}

/* banner-section-styles */
.banner{
    width: 100%;
    max-width: 1600px;
    height: 760px;
    background: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.banner-image{
    background: url("../assets/hero-circle.png");
    height: 350px;
    width: 350px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.badge{
    padding: 8px 16px;
    color: black;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 1000px;
    background-color: #00ff88;
    position: absolute;
    top: 15%;
    right: 41%;
}
.banner-heading{
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
}
.banner-text{
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 24px;
}
.btn-container{
    gap: 8px;
}
#spotify-button{
    align-items: center;
    padding: 12px 20px;
    gap: 8px;
}
#message-btn{
    border: 1px solid #00ff88;
    padding: 12px 20px;
    border-radius: 10000px;
    background: transparent;
    color: #00ff88;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    gap: 8px;
}



/* small-device-styles */
@media screen and (max-width:576px){
    /* navbar-styles */
    nav{
        padding: 16px 20px;
        height: 60px;
        justify-content: space-between;
    }
    nav ul li, button{
        display: none;
    }
    .hamburger{
        display: inline;
        cursor: pointer;
    }
}

/* Medium-device-styles */
@media screen and (min-width:577px) and (max-width:992px){

}